// Colors
$white: #ffffff;
$black: #000000;
$dark-coral: #c1918b;

// Breakpoints
$mobile-width: 600px;
$tablet-width: 768px;
$laptop-width: 1024px;
$middle-width: 1200px;
$desktop-width: 1440px;
$desktop-large-width: 1600px;
$breakpoints: (
  'mobile': $mobile-width,
  'tablet': $tablet-width,
  'laptop': $laptop-width,
  'middle': $middle-width,
  'desktop': $desktop-width,
);

//border widths
$mobile-border: 3px;
$tablet-border: 4px;
$desktop-border: 5px;

//window widths
$mobile-window: 8px;
$tablet-window: 10px;
$desktop-window: 10px;

//grid
$mobile-grid-space: 1.5rem;
$tablet-grid-space: 2.5rem;
$grid-space: 4rem;

// Fonts
@font-face {
  font-family: rock;
  src: url('~assets/fonts/ROCK.TTF') format('truetype');
}
$primary-font: 'Sharp Sans', system-ui, 'Helvetica Neue', Arial, sans-serif;

// Font Weights
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Font Sizes
$font-size-base: 16px;
$font-size-xs: 12px;
$font-size-small: 14px;
$fontsize-h1-homepage: 72px;
$fontsize-h1-homepage-mobile: 40px;
$font-size-h1: 48px;
$font-size-h1-mobile: 32px;
$font-size-h2: 36px;
$font-size-h2-mobile: 24px;
$font-size-h3: 28px;
$font-size-h3-mobile: 20px;
$font-size-h4: 20px;
$font-size-h4-mobile: 18px;

// Spacing
$content-max-width: 1208px;
$space-xxs: 8px;
$space-xs: 16px;
$space-s: 18px;
$space-sm: 24px;
$space-md: 40px;
$space-lg: 64px;
$space-xl: 104px;
$section-desktop-margin: 116px;
$nav-height: 99px;
$sidebar-width: 178px;

//header
$nav-height: 108px;
$mobile-nav-height: 64px;

html {
  scroll-behavior: smooth;
}
